@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&family=Tilt+Warp&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
.all-categories-dropdown ul li:hover .all-dropdown-menu {
  display: flex;
}

#men-wear {
  position: relative !important;
}
#men-wear::before {
  position: absolute;
  bottom: -12px;
  content: "";
  width: 100%;
  height: 15px;
}
#men-wear:hover .nav-dropdown-menu-men-wear {
  display: flex;
  animation: fade-in 0.3s;
}
#men-wear:hover img {
  transform: rotate(-180deg);
  transition: all 0.5s;
}

#woman-wear {
  position: relative !important;
}
#woman-wear::before {
  position: absolute;
  bottom: -12px;
  content: "";
  width: 100%;
  height: 15px;
}
#woman-wear:hover .nav-dropdown-menu-woman-wear {
  display: flex;
  animation: fade-in 0.3s;
}
#woman-wear:hover img {
  transform: rotate(-180deg);
  transition: all 0.5s;
}

#pages {
  position: relative !important;
}
#pages::before {
  position: absolute;
  bottom: -12px;
  content: "";
  width: 100%;
  height: 15px;
}
#pages:hover .nav-dropdown-menu-pages {
  display: block;
  animation: fade-in 0.3s;
}
#pages:hover img {
  transform: rotate(-180deg);
  transition: all 0.5s;
}

.all-dropdown-menu {
  position: absolute;
  z-index: 1;
  width: 1070px;
  border: 2px solid rgba(235, 235, 235, 0.8);
  border-top: none;
  border-left: none;
  display: none;
  left: 240px;
  bottom: -34px;
}
.all-dropdown-menu ul {
  display: block !important;
}
.all-dropdown-menu ul li {
  display: block !important;
  padding: 0 !important;
}
.all-dropdown-menu ul li::before {
  display: none !important;
}
.all-dropdown-menu ul li a {
  display: block !important;
}
.all-dropdown-menu .nav-dropdown-menu-part-one {
  padding: 24px 0 28px 0;
  width: 214px;
  background-color: rgb(253, 253, 253);
}
.all-dropdown-menu .nav-dropdown-menu-part-one p {
  font-size: 14px;
  font-weight: 600;
  color: rgb(33, 33, 33);
}
.all-dropdown-menu .nav-dropdown-menu-part-one p a {
  padding: 6px 20px 6px 20px !important;
  width: 100%;
  color: rgb(33, 33, 33);
  text-decoration: none;
  display: block;
}
.all-dropdown-menu .nav-dropdown-menu-part-one p:hover {
  background-color: rgb(235, 235, 232);
}
.all-dropdown-menu .nav-dropdown-menu-part-one .top-wear {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.1);
}
.all-dropdown-menu .nav-dropdown-menu-part-one .top-wear li:hover {
  background-color: rgb(235, 235, 232);
}
.all-dropdown-menu .nav-dropdown-menu-part-one .top-wear li a {
  padding: 6px 20px !important;
  display: block !important;
  width: 100% !important;
  color: rgb(90, 90, 90);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}
.all-dropdown-menu .nav-dropdown-menu-part-one ul {
  padding-top: 10px !important;
}
.all-dropdown-menu .nav-dropdown-menu-part-one ul li:hover {
  background-color: rgb(235, 235, 232);
}
.all-dropdown-menu .nav-dropdown-menu-part-one ul li a {
  padding: 6px 20px !important;
  display: block;
  width: 100%;
  color: rgb(33, 33, 33);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
  width: 100%;
}
.all-dropdown-menu .nav-dropdown-menu-part-two {
  padding: 24px 0 28px 0 !important;
  background-color: rgb(244, 244, 244);
  width: 214px;
}
.all-dropdown-menu .nav-dropdown-menu-part-two p {
  font-size: 14px;
  font-weight: 600;
  color: rgb(33, 33, 33);
}
.all-dropdown-menu .nav-dropdown-menu-part-two p a {
  padding: 6px 20px 6px 20px !important;
  width: 100%;
  color: rgb(33, 33, 33);
  text-decoration: none;
  display: block;
}
.all-dropdown-menu .nav-dropdown-menu-part-two p:hover {
  background-color: rgb(235, 235, 232);
}
.all-dropdown-menu .nav-dropdown-menu-part-two .western-wear {
  padding-bottom: 16px !important;
  border-bottom: 1px solid rgba(33, 33, 33, 0.1);
}
.all-dropdown-menu .nav-dropdown-menu-part-two .western-wear li:hover {
  background-color: rgb(235, 235, 232);
}
.all-dropdown-menu .nav-dropdown-menu-part-two .western-wear li a {
  padding: 6px 20px !important;
  display: block;
  width: 100%;
  color: rgb(90, 90, 90);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  width: 100%;
}
.all-dropdown-menu .nav-dropdown-menu-part-two ul {
  padding-top: 10px !important;
}
.all-dropdown-menu .nav-dropdown-menu-part-two ul li:hover {
  background-color: rgb(235, 235, 232);
}
.all-dropdown-menu .nav-dropdown-menu-part-two ul li a {
  padding: 6px 20px !important;
  display: block;
  width: 100%;
  color: rgb(33, 33, 33);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
  width: 100%;
}
.all-dropdown-menu .nav-dropdown-menu-part-three {
  padding: 25px 0 28px 0 !important;
  width: 214px;
  background-color: rgb(253, 253, 253);
}
.all-dropdown-menu .nav-dropdown-menu-part-three p {
  margin-bottom: 6.6px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(33, 33, 33);
}
.all-dropdown-menu .nav-dropdown-menu-part-three p a {
  padding: 6px 20px 6px 20px !important;
  width: 100%;
  color: rgb(33, 33, 33);
  text-decoration: none;
  display: block;
}
.all-dropdown-menu .nav-dropdown-menu-part-three p:hover {
  background-color: rgb(235, 235, 232);
}
.all-dropdown-menu .nav-dropdown-menu-part-three .foot-wear {
  padding-bottom: 16px !important;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.1);
}
.all-dropdown-menu .nav-dropdown-menu-part-three .foot-wear li:hover {
  background-color: rgb(235, 235, 232);
}
.all-dropdown-menu .nav-dropdown-menu-part-three .foot-wear li a {
  padding: 6px 20px !important;
  display: block;
  width: 100%;
  color: rgb(90, 90, 90);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  width: 100%;
}
.all-dropdown-menu .nav-dropdown-menu-part-three .sports-active-wear {
  padding-bottom: 16px !important;
}
.all-dropdown-menu .nav-dropdown-menu-part-three .sports-active-wear li:hover {
  background-color: rgb(235, 235, 232);
}
.all-dropdown-menu .nav-dropdown-menu-part-three .sports-active-wear li a {
  padding: 6px 20px !important;
  display: block;
  width: 100%;
  color: rgb(90, 90, 90);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  width: 100%;
}
.all-dropdown-menu .nav-dropdown-menu-part-four {
  padding: 25px 0 28px 0 !important;
  background-color: rgb(244, 244, 244);
  width: 214px;
}
.all-dropdown-menu .nav-dropdown-menu-part-four p {
  margin-bottom: 6.6px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(33, 33, 33);
}
.all-dropdown-menu .nav-dropdown-menu-part-four p a {
  padding: 6px 20px 6px 20px !important;
  width: 100%;
  color: rgb(33, 33, 33);
  text-decoration: none;
  display: block;
}
.all-dropdown-menu .nav-dropdown-menu-part-four p:hover {
  background-color: rgb(235, 235, 232);
}
.all-dropdown-menu .nav-dropdown-menu-part-four .lingerie-sleep-more {
  padding-bottom: 16px !important;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.1);
}
.all-dropdown-menu .nav-dropdown-menu-part-four .lingerie-sleep-more li:hover {
  background-color: rgb(235, 235, 232);
}
.all-dropdown-menu .nav-dropdown-menu-part-four .lingerie-sleep-more li a {
  padding: 6px 20px !important;
  display: block;
  width: 100%;
  color: rgb(90, 90, 90);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  width: 100%;
}
.all-dropdown-menu .nav-dropdown-menu-part-four .belt-scarves-more {
  padding-bottom: 16px !important;
}
.all-dropdown-menu .nav-dropdown-menu-part-four .belt-scarves-more li:hover {
  background-color: rgb(235, 235, 232);
}
.all-dropdown-menu .nav-dropdown-menu-part-four .belt-scarves-more li a {
  padding: 6px 20px !important;
  display: block;
  width: 100%;
  color: rgb(90, 90, 90);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  width: 100%;
}
.all-dropdown-menu .nav-dropdown-menu-part-five {
  padding: 25px 0 28px 0 !important;
  width: 214px;
  background-color: rgb(253, 253, 253);
}
.all-dropdown-menu .nav-dropdown-menu-part-five p {
  margin-bottom: 6.6px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(33, 33, 33);
}
.all-dropdown-menu .nav-dropdown-menu-part-five p a {
  padding: 6px 20px 6px 20px !important;
  width: 100%;
  color: rgb(33, 33, 33);
  text-decoration: none;
  display: block;
}
.all-dropdown-menu .nav-dropdown-menu-part-five p:hover {
  background-color: rgb(235, 235, 232);
}
.all-dropdown-menu .nav-dropdown-menu-part-five .gadgets {
  padding-bottom: 16px !important;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.1);
}
.all-dropdown-menu .nav-dropdown-menu-part-five .gadgets li:hover {
  background-color: rgb(235, 235, 232);
}
.all-dropdown-menu .nav-dropdown-menu-part-five .gadgets li a {
  padding: 6px 20px !important;
  display: block;
  width: 100%;
  color: rgb(90, 90, 90);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  width: 100%;
}
.all-dropdown-menu .nav-dropdown-menu-part-five .jewellers {
  margin-bottom: 10px;
  padding-bottom: 16px !important;
  border-bottom: 1px solid rgba(33, 33, 33, 0.1);
}
.all-dropdown-menu .nav-dropdown-menu-part-five .jewellers li:hover {
  background-color: rgb(235, 235, 232);
}
.all-dropdown-menu .nav-dropdown-menu-part-five .jewellers li a {
  padding: 6px 20px !important;
  display: block;
  width: 100%;
  color: rgb(90, 90, 90);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  width: 100%;
}
.all-dropdown-menu .nav-dropdown-menu-part-five ul li:hover {
  background-color: rgb(235, 235, 232);
}
.all-dropdown-menu .nav-dropdown-menu-part-five ul li a {
  padding: 6px 20px;
  display: block;
  width: 100%;
  color: rgb(33, 33, 33);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
  width: 100%;
}

.nav-dropdown-menu-men-wear {
  position: absolute;
  z-index: 1;
  width: 1070px;
  border: 2px solid rgba(235, 235, 235, 0.8);
  border-top: none;
  display: none;
  left: -125px;
  bottom: -409px;
}
.nav-dropdown-menu-men-wear ul {
  display: block !important;
}
.nav-dropdown-menu-men-wear ul li {
  display: block !important;
  padding: 0 !important;
}
.nav-dropdown-menu-men-wear ul li::before {
  display: none !important;
}
.nav-dropdown-menu-men-wear ul li a {
  display: block !important;
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-one {
  padding: 24px 0 28px 0;
  width: 214px;
  background-color: rgb(253, 253, 253);
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-one p {
  font-size: 14px;
  font-weight: 600;
  color: rgb(33, 33, 33);
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-one p a {
  padding: 6px 20px 6px 20px;
  width: 100%;
  color: rgb(33, 33, 33);
  text-decoration: none;
  display: block;
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-one p:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-one .top-wear {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.1);
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-one .top-wear li:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-one .top-wear li a {
  padding: 6px 20px;
  display: block !important;
  width: 100% !important;
  color: rgb(90, 90, 90);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-one ul {
  padding-top: 10px;
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-one ul li:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-one ul li a {
  padding: 6px 20px;
  display: block;
  width: 100%;
  color: rgb(33, 33, 33);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
  width: 100%;
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-two {
  padding: 24px 0 28px 0;
  background-color: rgb(244, 244, 244);
  width: 214px;
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-two p {
  font-size: 14px;
  font-weight: 600;
  color: rgb(33, 33, 33);
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-two p a {
  padding: 6px 20px 6px 20px;
  width: 100%;
  color: rgb(33, 33, 33);
  text-decoration: none;
  display: block;
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-two p:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-two .western-wear {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.1);
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-two .western-wear li:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-two .western-wear li a {
  padding: 6px 20px;
  display: block;
  width: 100%;
  color: rgb(90, 90, 90);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  width: 100%;
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-two ul {
  padding-top: 10px;
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-two ul li:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-two ul li a {
  padding: 6px 20px;
  display: block;
  width: 100%;
  color: rgb(33, 33, 33);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
  width: 100%;
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-three {
  padding: 25px 0 28px 0;
  width: 214px;
  background-color: rgb(253, 253, 253);
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-three p {
  margin-bottom: 6.6px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(33, 33, 33);
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-three p a {
  padding: 6px 20px 6px 20px;
  width: 100%;
  color: rgb(33, 33, 33);
  text-decoration: none;
  display: block;
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-three p:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-three .foot-wear {
  padding-bottom: 16px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.1);
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-three .foot-wear li:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-three .foot-wear li a {
  padding: 6px 20px;
  display: block;
  width: 100%;
  color: rgb(90, 90, 90);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  width: 100%;
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-three .sports-active-wear {
  padding-bottom: 16px;
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-three .sports-active-wear li:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-three .sports-active-wear li a {
  padding: 6px 20px;
  display: block;
  width: 100%;
  color: rgb(90, 90, 90);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  width: 100%;
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-four {
  padding: 25px 0 28px 0;
  background-color: rgb(244, 244, 244);
  width: 214px;
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-four p {
  margin-bottom: 6.6px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(33, 33, 33);
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-four p a {
  padding: 6px 20px 6px 20px;
  width: 100%;
  color: rgb(33, 33, 33);
  text-decoration: none;
  display: block;
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-four p:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-four .lingerie-sleep-more {
  padding-bottom: 16px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.1);
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-four .lingerie-sleep-more li:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-four .lingerie-sleep-more li a {
  padding: 6px 20px;
  display: block;
  width: 100%;
  color: rgb(90, 90, 90);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  width: 100%;
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-four .belt-scarves-more {
  padding-bottom: 16px;
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-four .belt-scarves-more li:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-four .belt-scarves-more li a {
  padding: 6px 20px;
  display: block;
  width: 100%;
  color: rgb(90, 90, 90);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  width: 100%;
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-five {
  padding: 25px 0 28px 0;
  width: 214px;
  background-color: rgb(253, 253, 253);
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-five p {
  margin-bottom: 6.6px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(33, 33, 33);
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-five p a {
  padding: 6px 20px 6px 20px;
  width: 100%;
  color: rgb(33, 33, 33);
  text-decoration: none;
  display: block;
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-five p:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-five .gadgets {
  padding-bottom: 16px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.1);
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-five .gadgets li:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-five .gadgets li a {
  padding: 6px 20px;
  display: block;
  width: 100%;
  color: rgb(90, 90, 90);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  width: 100%;
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-five .jewellers {
  margin-bottom: 10px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.1);
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-five .jewellers li:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-five .jewellers li a {
  padding: 6px 20px;
  display: block;
  width: 100%;
  color: rgb(90, 90, 90);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  width: 100%;
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-five ul li:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-men-wear .nav-dropdown-menu-part-five ul li a {
  padding: 6px 20px;
  display: block;
  width: 100%;
  color: rgb(33, 33, 33);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
  width: 100%;
}

.nav-dropdown-menu-woman-wear {
  position: absolute;
  width: 1070px;
  border: 2px solid rgba(235, 235, 235, 0.8);
  border-top: none;
  display: none;
  left: -250px;
  bottom: -409px;
}
.nav-dropdown-menu-woman-wear ul {
  display: block !important;
}
.nav-dropdown-menu-woman-wear ul li {
  display: block !important;
  padding: 0 !important;
}
.nav-dropdown-menu-woman-wear ul li::before {
  display: none !important;
}
.nav-dropdown-menu-woman-wear ul li a {
  display: block !important;
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-one {
  padding: 24px 0 28px 0;
  width: 214px;
  background-color: rgb(253, 253, 253);
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-one p {
  font-size: 14px;
  font-weight: 600;
  color: rgb(33, 33, 33);
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-one p a {
  padding: 6px 20px 6px 20px;
  width: 100%;
  color: rgb(33, 33, 33);
  text-decoration: none;
  display: block;
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-one p:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-one .top-wear {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.1);
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-one .top-wear li:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-one .top-wear li a {
  padding: 6px 20px;
  display: block !important;
  width: 100% !important;
  color: rgb(90, 90, 90);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-one ul {
  padding-top: 10px;
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-one ul li:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-one ul li a {
  padding: 6px 20px;
  display: block;
  width: 100%;
  color: rgb(33, 33, 33);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
  width: 100%;
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-two {
  padding: 24px 0 28px 0;
  background-color: rgb(244, 244, 244);
  width: 214px;
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-two p {
  font-size: 14px;
  font-weight: 600;
  color: rgb(33, 33, 33);
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-two p a {
  padding: 6px 20px 6px 20px;
  width: 100%;
  color: rgb(33, 33, 33);
  text-decoration: none;
  display: block;
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-two p:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-two .western-wear {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.1);
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-two .western-wear li:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-two .western-wear li a {
  padding: 6px 20px;
  display: block;
  width: 100%;
  color: rgb(90, 90, 90);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  width: 100%;
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-two ul {
  padding-top: 10px;
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-two ul li:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-two ul li a {
  padding: 6px 20px;
  display: block;
  width: 100%;
  color: rgb(33, 33, 33);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
  width: 100%;
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-three {
  padding: 25px 0 28px 0;
  width: 214px;
  background-color: rgb(253, 253, 253);
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-three p {
  margin-bottom: 6.6px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(33, 33, 33);
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-three p a {
  padding: 6px 20px 6px 20px;
  width: 100%;
  color: rgb(33, 33, 33);
  text-decoration: none;
  display: block;
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-three p:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-three .foot-wear {
  padding-bottom: 16px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.1);
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-three .foot-wear li:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-three .foot-wear li a {
  padding: 6px 20px;
  display: block;
  width: 100%;
  color: rgb(90, 90, 90);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  width: 100%;
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-three .sports-active-wear {
  padding-bottom: 16px;
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-three .sports-active-wear li:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-three .sports-active-wear li a {
  padding: 6px 20px;
  display: block;
  width: 100%;
  color: rgb(90, 90, 90);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  width: 100%;
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-four {
  padding: 25px 0 28px 0;
  background-color: rgb(244, 244, 244);
  width: 214px;
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-four p {
  margin-bottom: 6.6px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(33, 33, 33);
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-four p a {
  padding: 6px 20px 6px 20px;
  width: 100%;
  color: rgb(33, 33, 33);
  text-decoration: none;
  display: block;
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-four p:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-four .lingerie-sleep-more {
  padding-bottom: 16px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.1);
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-four .lingerie-sleep-more li:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-four .lingerie-sleep-more li a {
  padding: 6px 20px;
  display: block;
  width: 100%;
  color: rgb(90, 90, 90);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  width: 100%;
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-four .belt-scarves-more {
  padding-bottom: 16px;
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-four .belt-scarves-more li:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-four .belt-scarves-more li a {
  padding: 6px 20px;
  display: block;
  width: 100%;
  color: rgb(90, 90, 90);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  width: 100%;
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-five {
  padding: 25px 0 28px 0;
  width: 214px;
  background-color: rgb(253, 253, 253);
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-five p {
  margin-bottom: 6.6px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(33, 33, 33);
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-five p a {
  padding: 6px 20px 6px 20px;
  width: 100%;
  color: rgb(33, 33, 33);
  text-decoration: none;
  display: block;
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-five p:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-five .gadgets {
  padding-bottom: 16px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.1);
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-five .gadgets li:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-five .gadgets li a {
  padding: 6px 20px;
  display: block;
  width: 100%;
  color: rgb(90, 90, 90);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  width: 100%;
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-five .jewellers {
  margin-bottom: 10px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.1);
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-five .jewellers li:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-five .jewellers li a {
  padding: 6px 20px;
  display: block;
  width: 100%;
  color: rgb(90, 90, 90);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  width: 100%;
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-five ul li:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-woman-wear .nav-dropdown-menu-part-five ul li a {
  padding: 6px 20px;
  display: block;
  width: 100%;
  color: rgb(33, 33, 33);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
  width: 100%;
}

.nav-dropdown-menu-pages {
  position: absolute;
  left: 0;
  bottom: -374px;
  display: none;
  width: 240px !important;
  border: 2px solid rgba(235, 235, 235, 0.8);
  background-color: rgb(253, 253, 253);
  border-top: none;
}
.nav-dropdown-menu-pages ul {
  padding: 24px 0 16px;
}
.nav-dropdown-menu-pages ul #users-page {
  position: relative;
}
.nav-dropdown-menu-pages ul #users-page:hover ul {
  display: block;
  animation: fade-in 0.3s;
}
.nav-dropdown-menu-pages ul #users-page a i {
  float: right;
  margin-top: 4px;
  font-size: 12px;
}
.nav-dropdown-menu-pages ul #users-page ul {
  display: none;
  padding: 15px 0 14px;
  border: 2px solid rgba(235, 235, 235, 0.8);
  background-color: rgb(253, 253, 253);
  border-left: none;
  position: absolute;
  top: -17px;
  right: -184.5px;
}
.nav-dropdown-menu-pages ul #users-page ul a {
  width: 182px !important;
  padding: 6px 14px 6px 28px;
}
.nav-dropdown-menu-pages ul li {
  display: block !important;
  padding: 0px !important;
}
.nav-dropdown-menu-pages ul li:hover {
  background-color: rgb(235, 235, 232);
}
.nav-dropdown-menu-pages ul li a {
  padding: 6px 15px;
  display: block !important;
  width: 100% !important;
  color: rgb(90, 90, 90);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}/*# sourceMappingURL=navbar-dropdown.css.map */