* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container{
    max-width: 1391px;
    margin: 0 auto;
}

#product-details{
    position: relative;
    top: 161px;
    padding-bottom: 80px;

    ul{
        padding-top: 36px;
        padding-left: 0px;
        display: flex;
        gap: 10px;
        font-size: 14px;
        line-height: 20px;

        a{
            text-decoration: none;
            color: rgb(90, 90, 90);
        }
    }

    .product-details-content{
        display: flex;
        justify-content: space-between;
        padding-top: 24px;
        &__img{
            width: 748px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            row-gap: 12px;
            img{
                width: 369px;
                height: 479.075px;
            }
        }
        &__text{
            width: 587.2px;
        }
        &__head{
            padding-bottom: 28px;
            margin-bottom: 28px;
            border-bottom: 0.8px solid rgb(220, 220, 220);
            h2{
                font-size: 30px;
                font-weight: 700;
                line-height: 36px;
                color: rgb(0, 0, 0);margin-bottom: 14px;
            }
            p{
                font-size: 17px;
                line-height: 32px;
                color: rgb(90, 90, 90);
            }

        }
        &__head-price{
            margin-top: 20px;
            display: flex;
            gap: 8px;
            align-items: center;
        }
        &--dis-count-price{
            font-size: 36px;
            font-weight: 700;
            line-height: 40px;
            color: rgb(33, 33, 33);
        }
        &--price{
            font-size: 20px;
            line-height: 28px;
            color: rgb(153, 153, 153);
            text-decoration: line-through;
        }
        &__about{
            display: flex;
            flex-direction: column;
            padding-bottom: 24px;
            border-bottom: 0.8px solid rgb(220, 220, 220);

            h3{
                margin-bottom: 10px;
                font-size: 18px;
                font-weight: 600;
                line-height: 28px;
                color: rgb(33, 33, 33);
            }
        }
        &__size{
            margin-bottom: 26px;
            .size-list{
                display: flex;
                padding: 0;
            }
        }
        &--custom-size{
            width: 44px;
            height: 44px;
            padding: 4px;
            border: 0.8px solid rgb(220, 220, 220);
            font-size: 14px;
            line-height: 20px;
            color: rgb(33, 33, 33);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 6px;
            cursor: pointer;
        }
        &--active-size{
            border: 0.8px solid rgb(90, 90, 90);
        }
        &__color{
            margin-bottom: 16px;
            h3{
                margin-bottom: 10px;
                font-size: 18px;
                font-weight: 600;
                line-height: 28px;
                color: rgb(33, 33, 33);
            }
        }
        &__color-box-content{
            .color-list{
                padding-top: 0px;
                display: flex;
            }
        }
        &--color-box{
            padding: 4px;
            border: 0.8px solid rgb(220, 220, 220);
            border-radius: 6px;

            div{
                width: 34.400px;
                height: 34.400px;
                border-radius: 4px;
            }
            .orange{
                background-color: orange;
            }
            .pink{
                background-color: pink;
            }
            .purple{
                background-color: purple;
            }
            .red{
                background-color: red;
            }
        }
        &__add-to-card{
            padding: 32px 0;
            display: flex;
            gap: 15px;
            align-items: center;
            border-bottom: 0.8px solid rgb(220, 220, 220);

            button{
                width: 47.200px;
                height: 46.400px;
                font-size: 24px;
                font-weight: 400;
                line-height: 24px;
                background-color: #fff;
                border: none;
                border-radius: 4px;

                &:hover{
                    background-color: black;
                    color: #fff;
                }
            }
            #count-decrease{
                border-bottom-right-radius: 0px;
                border-top-right-radius: 0px;
                border-right: 0.8px solid rgb(220, 220, 220);
            }
            #count-increase{
                border-bottom-left-radius: 0px;
                border-top-left-radius: 0px;
                border-left: 0.8px solid rgb(220, 220, 220);
            }
            span{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 86px;
                height: 46.4px;
            }
        }
        &--count{
            width: 183.6px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0.8px solid rgb(220, 220, 220);
            border-radius: 4px;
        }
        &--add-to-card-btn{
            width: 249.6px;
            height: 48px;
            padding: 8px 20px;
            background-color: rgb(33, 33, 33);
            color: #fff;
            border-radius: 6px;
            border: 0.8px solid rgb(220, 220, 220);
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover{
                background-color: rgb(90, 90, 90);
                cursor: pointer;
            }
        }
        &__category{
            padding: 24px 0 35px 0;
            border-bottom: 0.8px solid rgb(220, 220, 220);

            .category-content{
                padding: 0px;
                display: flex;
                gap: 18px;
                flex-direction: column;

                li{
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 20px;
                    color: rgb(33, 33, 33);

                    span{
                        margin-left: 6px;
                        color: rgb(90, 90, 90);
                        font-weight: 400;
                    }
                    a{
                        font-weight: 400;
                        text-decoration: none;
                        color: rgb(90, 90, 90);

                        &:hover{
                            color: rgb(56, 56, 56);
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        
    }
}

#related-products{
    position: relative;
    top: 161px;
    padding-bottom: 56px;

    .container{
        h3{
            margin-bottom: 28px;
            font-size: 30px;
            font-weight: 700;
            line-height: 36px;
            color: rgb(33, 33, 33);
        }
        .related-products{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            &__card{
                width: 255.84px;
                border-radius: 6px;   
                transition: all 0.5s; 
                cursor: pointer;
                &:hover{
                    transform: translateY(-7px);
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
                    transition: all 0.5s;
                }

                &__img{
                    margin-bottom: 14px;
                    img{
                        width: 100%;
                        height: 331px;
                        border-radius: 6px;
                        border-bottom-left-radius: 0px;
                        border-bottom-right-radius: 0px;
                    }
                }
                &__text{
                    padding: 8px 16px;

                    h2{
                        margin-bottom: 4px;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 24px;
                        color: rgb(33, 33, 33);
                    }
                    p{
                        font-size: 14px;
                        line-height: 22.75px;
                    }
                }
                &__price{
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    span{
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 28px;
                        color: rgb(33, 33, 33);
                    }
                    del{
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        color: rgb(122, 122, 122);
                    }
                }
            }          
        }
    }
}

#your-inbox {
    position: relative;
    top: 161px;

    .your-inbox-container {
        padding: 64px 96px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 64px;
        background-color: rgb(249, 249, 249);

        &__text {
            h3 {
                margin-bottom: 14px;
                font-size: 30px;
                font-weight: 700;
                line-height: 36px;
                color: rgb(33, 33, 33);
            }

            p {
                font-size: 14px;
                line-height: 28px;
                color: rgb(90, 90, 90);
            }
        }

        form {
            display: flex;

            input {
                padding: 8px 28px;
                width: 407.188px;
                height: 56px;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                color: rgb(29, 30, 31);
                background-color: #fff;
                border: 1px solid rgba(90, 90, 90, 0.2);
                outline: none;
                border-radius: 6px;

                &:focus-within {
                    border: 1px solid rgb(66, 66, 66);
                }
            }

            button {
                margin-left: 8px;
                padding: 16px 32px;
                background-color: rgb(33, 33, 33);
                border-radius: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &:hover {
                    opacity: 0.85;
                    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
                }

                &:hover span {
                    opacity: 1;
                }

                span {
                    font-size: 14px;
                    font-style: normal;
                    line-height: 20px;
                    font-weight: 600;
                    color: #fff;
                }
            }
        }
    }
}

footer {
    position: relative;
    top: 161px;
}