* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1391px;
    margin: 0 auto;
}


#shop {
    position: relative;
    top: 161px;
    padding: 50px 0;
    .container{
        .shop-content{
            display: flex;
            justify-content: space-between;
            .product-filters-content {
                width: 288px;
                a {
                    text-decoration: none;
                }
        
                h2 {
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 32px;
                    color: rgb(33, 33, 33);
                }
        
                h3 {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24px;
                    color: rgb(33, 33, 33);
                    margin-bottom: 28px;
                }
        
                label {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    margin-top: 16px;
    
                    &:hover{
                        cursor: pointer;
                    }
    
                    &:nth-child(2) {
                        margin: 0;
                    }
        
                    input {
                        width: 20px;
                        height: 20px;
                        border: 1px solid rgb(231, 227, 227) !important;
                        outline: none;
                        border-radius: 6px;
                    }
        
                    span {
                        font-size: 14px;
                        line-height: 20px;
                        color: rgb(33, 33, 33);
                    }
                }
        
                #clear-btn {
                    font-size: 12px;
                    font-weight: 400;
                    color: rgb(90, 90, 90);
                    border: none;
                    background-color: #fff;
                    cursor: pointer;
        
                    &:hover {
                        color: rgb(33, 33, 33);
                    }
                }
        
                .product-filters-part-one {
                    padding-bottom: 28px;
        
                    .product-filters-part-one-content {
                        display: flex;
                        gap: 10px;
        
                        .product-filters-part-one-list {
                            a {
                                font-size: 14px;
                                line-height: 20px;
                                color: rgb(90, 90, 90);
                            }
        
                            &:nth-child(3) {
                                a {
                                    font-weight: 600;
                                    color: rgb(33, 33, 33) !important;
                                }
                            }
                        }
                    }
                }
        
                .product-filters-two-content {
                    display: flex;
                    flex-direction: column;
        
                    .product-filters-head {
                        display: flex;
                        justify-content: space-between;
                        border-bottom: 1px solid rgba(90, 90, 90, 0.2);
                        padding-bottom: 28px;
                        margin-bottom: 28px;
                    }
        
                    .product-filters-category {
                        border-bottom: 1px solid rgba(90, 90, 90, 0.2);
                        display: flex;
                        flex-direction: column;
                        padding-bottom: 28px;
                        margin-bottom: 28px;
        
                    }
        
                    .product-filters-brands {
                        border-bottom: 1px solid rgba(90, 90, 90, 0.2);
                        display: flex;
                        flex-direction: column;
                        padding-bottom: 28px;
                        margin-bottom: 28px;
                    }
    
                    .product-filters-price{
                        border-bottom: 1px solid rgba(90, 90, 90, 0.2);
                        display: flex;
                        flex-direction: column;
                        padding-bottom: 28px;
                        margin-bottom: 28px;
                    }
    
                    .product-filters-colors{
                        border-bottom: 1px solid rgba(90, 90, 90, 0.2);
                        display: flex;
                        flex-direction: column;
                        padding-bottom: 28px;
                        margin-bottom: 28px;
    
                        label{
                            gap: 14px;
                            .product-filters-colors-black-box{
                                width: 20px;
                                height: 20px;
                                border: 1px solid rgb(220, 220, 220);
                                border-radius: 50%;
                                background-color: #000;
                            }
                            .product-filters-colors-blue-box{
                                width: 20px;
                                height: 20px;
                                border: 1px solid rgb(210, 210, 210);
                                border-radius: 50%;
                                background-color: blue;
                            }
                            .product-filters-colors-olive-box{
                                width: 20px;
                                height: 20px;
                                border: 1px solid rgb(210, 210, 210);
                                border-radius: 50%;
                                background-color: olive;
                            }
                            .product-filters-colors-maroon-box{
                                width: 20px;
                                height: 20px;
                                border: 1px solid rgb(210, 210, 210);
                                border-radius: 50%;
                                background-color: maroon;
                            }
                            .product-filters-colors-brown-box{
                                width: 20px;
                                height: 20px;
                                border: 1px solid rgb(210, 210, 210);
                                border-radius: 50%;
                                background-color: brown;
                            }
                            .product-filters-colors-white-box{
                                width: 20px;
                                height: 20px;
                                border: 1px solid rgb(210, 210, 210);
                                border-radius: 50%;
                                background-color: white;
                            }
                            .product-filters-colors-gray-box{
                                width: 20px;
                                height: 20px;
                                border: 1px solid rgb(210, 210, 210);
                                border-radius: 50%;
                                background-color: gray;
                            }
                        }
                    }
                }
            }
            .casual-wear{
                width: 1007.2px;

                &__head{
                    margin-bottom: 28px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                &--head-selected{
                    width: 303.31px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    span{
                        font-size: 14px;
                        line-height: 20px;
                        color: rgb(90, 90, 90);
                    }
                    button{
                        width: 180px;
                        height: 37.6px;
                        padding: 8px 12px;
                        background-color: #fff;
                        color: rgb(33, 33, 33);
                        border: 1px solid rgb(220, 220, 220);
                        border-radius: 6px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        position: relative;

                        &:focus .casual-wear--head-selected-choose{
                            display: inline-block;
                        }

                        span{
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 20px;
                            color: rgb(33, 33, 33);
                        }

                        img{
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
                &--head-selected-choose{
                    display: none;
                    position: absolute;
                    bottom: -178px;
                    left: 0;
                    ul{
                        width: 180px;
                        border-radius: 6px;
                        border: 1px solid rgb(220, 220, 220);
                        li{
                            width: 100%;
                            display: flex;
                            justify-content: flex-start;
                            padding: 8px 16px 8px 40px;

                            &:hover{
                                background-color: rgb(230, 230, 230);
                                color: rgb(161, 136, 76);
                            }
                        }
                    }
                }
                &__product-content{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    row-gap: 32px;
                }
                &__product{
                    width: 179.038px;
                    transition: all 0.5s;
                    border-radius: 6px;
                    cursor: pointer;

                    &:hover {
                        transform: translateY(-7px);
                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
                        transition: all 0.5s;
                    }

                    &__img{
                        margin-bottom: 14px;
                        img{
                            width: 100%;
                            border-radius: 6px;
                        }
                    }
                    &__text{
                        padding: 8px 16px;
                        display: flex;
                        flex-direction: column;
                    }
                    &__title{
                        margin-bottom: 4px;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 24px;
                        color: rgb(33, 33, 33);
                    }
                    &__description{
                        font-size: 14px;
                        line-height: 22.75px;
                        color: rgb(90, 90, 90);
                    }
                    &__price-content{
                        margin-top: 10px;

                        span{
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 28px;
                        }
                        del{
                            margin-left: 8px;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                            color: rgb(112, 112, 112);
                        }
                    }
                }
            }
        }
    }
}

#your-inbox {
    position: relative;
    top: 161px;

    .your-inbox-container {
        padding: 64px 96px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 64px;
        background-color: rgb(249, 249, 249);

        &__text {
            h3 {
                margin-bottom: 14px;
                font-size: 30px;
                font-weight: 700;
                line-height: 36px;
                color: rgb(33, 33, 33);
            }

            p {
                font-size: 14px;
                line-height: 28px;
                color: rgb(90, 90, 90);
            }
        }

        form {
            display: flex;

            input {
                padding: 8px 28px;
                width: 407.188px;
                height: 56px;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                color: rgb(29, 30, 31);
                background-color: #fff;
                border: 1px solid rgba(90, 90, 90, 0.2);
                outline: none;
                border-radius: 6px;

                &:focus-within {
                    border: 1px solid rgb(66, 66, 66);
                }
            }

            button {
                margin-left: 8px;
                padding: 16px 32px;
                background-color: rgb(33, 33, 33);
                border-radius: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &:hover {
                    opacity: 0.85;
                    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
                }

                &:hover span {
                    opacity: 1;
                }

                span {
                    font-size: 14px;
                    font-style: normal;
                    line-height: 20px;
                    font-weight: 600;
                    color: #fff;
                }
            }
        }
    }
}

footer {
    position: relative;
    top: 161px;
}