@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&family=Satisfy&family=Tilt+Warp&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#explore-my-account {
    position: relative;
    top: 161px;
    width: 100%;
    height: 404px;
    background-image: url('../../checkout/img/page-header\ \(1\).jpg');
    background-size: cover;

    .explore-my-account-bg {
        position: absolute;
        width: 100%;
        height: 404px;
        background-color: black;
        opacity: 0.5;
    }

    .explore-my-account-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            font-family: 'Satisfy', cursive;
            font-size: 30px;
            font-weight: 400;
            line-height: 36px;
            margin-bottom: 12px;
        }

        h2 {
            font-size: 30px;
            font-weight: 700;
            line-height: 36px;

        }
    }
}

#dashboard-my-account {
    position: relative;
    top: 161px;
    padding: 80px 0;

    .container {
        .dashboard {
            margin-inline: 55.600px;
            display: flex;

            &__tab-ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding-right: 80px;
            }

            &__tab-li {
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                color: rgb(33, 33, 33);
                width: 346.66px;
                height: 52px;
                padding: 14px 20px;
                cursor: pointer;
                border-radius: 4px;
                display: flex;
                align-items: center;
                gap: 12px;

                &--active {
                    font-weight: 600;
                    background-color: rgb(241, 241, 241);
                }
            }

            &--logout {
                padding-left: 13px;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                color: rgb(33, 33, 33);
                text-decoration: none;
                width: 346.66px;
                height: 52px;
                padding: 14px 20px;
                cursor: pointer;
                border-radius: 4px;
                display: flex;
                align-items: center;
                gap: 10px;
            }

            &__icon {
                width: 20px;
                height: 20px;
            }

            &__content {
                display: none;

                &--active {
                    display: block;
                }

                .dashboard-content {

                    h2 {
                        margin-bottom: 20px;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 32px;
                    }

                    p {
                        font-size: 16px;
                        line-height: 32px;
                        color: rgb(90, 90, 90);

                        a {
                            font-size: 16px;
                            line-height: 32px;
                            font-weight: 600;
                            color: rgb(33, 33, 33);
                        }
                    }
                }

                .order-content {
                    h2 {
                        margin-bottom: 20px;
                    }

                    table {
                        width: 853.325px;
                        height: 56px;

                        thead {
                            background-color: rgb(241, 241, 241);

                            tr {
                                width: 853.325px;
                                height: 100%;
                                display: flex;
                                justify-content: space-between;

                                th {
                                    &:nth-child(3) {
                                        flex-grow: 0.3;
                                    }

                                    &:nth-child(5) {
                                        display: flex;
                                        justify-content: flex-end;
                                        flex-grow: 0.4;
                                    }

                                    padding: 16px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: 16px;
                                    line-height: 24px;
                                    color: rgb(33, 33, 33);
                                }
                            }
                        }

                        tbody {

                            width: 853.325px;

                            tr {
                                display: flex;
                                justify-content: space-between;
                                width: 853.325px;
                                border-bottom: 1px solid rgb(202, 202, 202);

                                td {
                                    padding: 20px 16px;

                                    &:nth-child(1) {
                                        flex-grow: 0.05;
                                        a{
                                            color: rgb(90, 90, 90);
                                        }
                                    }

                                    &:nth-child(2) {
                                        flex-grow: 0.2;
                                        width: 70px !important;
                                    }

                                    &:nth-child(3) {
                                        flex-grow: 0.38;
                                        width: 30px !important;
                                        padding-left: 28px;
                                    }

                                    &:nth-child(4) {
                                        flex-grow: 0.25;
                                    }

                                    &:nth-child(5) {
                                        flex-grow: 0.05;

                                    }

                                }

                                #my-account-view {
                                    padding: 0;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    a {
                                        height: 36px;
                                        color: #fff;
                                        padding: 10px 16px;
                                        text-decoration: none;
                                        background-color: rgb(33, 33, 33);
                                        border-radius: 6px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                    }
                                }
                            }
                        }
                    }
                }

                .account-details{
                    h2{
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 32px;
                        margin-bottom: 20px;
                    }

                    .shipping-address {
                        width: 801.33px;
        
                        form {
                            .shipping-address-part-one {
                                display: flex;
                                justify-content: space-between;
        
                                input {
                                    padding: 8px 20px;
                                    width: 394.56px;
                                    height: 48px;
                                    border-radius: 6px;
                                    border: 1px solid rgb(216, 216, 216);
                                    outline: none;
        
                                    &:focus-within {
                                        border: 1px solid rgb(33, 33, 33);
                                    }
                                }
        
                                label {
                                    cursor: pointer;
                                    margin-bottom: 12px;
        
                                    span {
                                        font-size: 14px;
                                        font-weight: 600;
                                        line-height: 14px;
                                        color: rgb(58, 58, 58);
                                    }
                                }
        
                                .shipping-address-part-one-first-name {
                                    display: flex;
                                    flex-direction: column;
                                }
        
                                .shipping-adress-part-one-last-name {
                                    display: flex;
                                    flex-direction: column;
                                }
                            }
        
                            .shipping-address-part-two {
                                margin-top: 20px;
        
                                input {
                                    padding: 8px 20px;
                                    width: 100%;
                                    height: 48px;
                                    border-radius: 6px;
                                    border: 1px solid rgb(216, 216, 216);
                                    outline: none;
        
                                    &:focus-within {
                                        border: 1px solid rgb(33, 33, 33);
                                    }
                                }
        
                                label {
                                    cursor: pointer;
                                    margin-bottom: 12px;
        
                                    span {
                                        font-size: 14px;
                                        font-weight: 600;
                                        line-height: 14px;
                                        color: rgb(58, 58, 58);
                                    }
                                }
        
                                .shipping-address-part-two-address {
                                    display: flex;
                                    flex-direction: column;
                                }
                            }
        
                            .shipping-address-part-three {
                                margin-top: 20px;
                                display: flex;
                                justify-content: space-between;
        
                                input {
                                    padding: 8px 20px;
                                    width: 394.56px;
                                    height: 48px;
                                    border-radius: 6px;
                                    border: 1px solid rgb(216, 216, 216);
                                    outline: none;
        
                                    &:focus-within {
                                        border: 1px solid rgb(33, 33, 33);
                                    }
                                }
        
                                label {
                                    cursor: pointer;
                                    margin-bottom: 12px;
        
                                    span {
                                        font-size: 14px;
                                        font-weight: 600;
                                        line-height: 14px;
                                        color: rgb(58, 58, 58);
                                    }
                                }
        
                                .shipping-address-part-three-phone-mobile {
                                    display: flex;
                                    flex-direction: column;
                                }
        
                                .shipping-address-part-three-email {
                                    display: flex;
                                    flex-direction: column;
                                }
        
        
                            }
        
                            .shipping-address-part-four{
                                margin-top: 10px;
                                p{
                                    margin-top: 30px;
                                    font-size: 14px;
                                    font-weight: 600;
                                    line-height: 20px;
                                }
                                .shipping-address-part-four{
                                    display: flex;
                                    align-items: center;

                                    label{
                                        margin-right: 21px;
                                    }

                                    input{
                                        width: 20px;
                                        height: 20px;
                                        margin-right: 6px;
                                    }
                                }

                            }

                            .shipping-address-part-five{
                                button{
                                    width: 128px;
                                    height: 48px;
                                    color: #fff;
                                    padding: 16px 32px;
                                    background-color: rgb(33, 33, 33);
                                    font-size: 14px;
                                    font-weight: 600;
                                    line-height: 20px;
                                    border-radius: 6px;
                                    margin-top: 32px;
                                }
                            }
                        }
                    }
                }

                .change-password{
                    h2{
                        margin-bottom: 32px;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 32px;
                        color: rgb(33, 33, 33);
                    }

                    &__old-password{
                        margin-bottom: 28px;
                        form{
                            display: flex;
                            flex-direction: column;
                            label{
                                margin-bottom: 12px;
                                font-size: 14px;
                                font-weight: 600;
                                line-height: 14px;
                                color: rgb(58, 58, 58);
                            }
                        }
                    }

                    &__new-password{
                        margin-bottom: 28px;
                        form{
                            display: flex;
                            flex-direction: column;
                            label{
                                margin-bottom: 12px;
                                font-size: 14px;
                                font-weight: 600;
                                line-height: 14px;
                                color: rgb(58, 58, 58);
                            }
                        }
                    }

                    &__input{
                        width: 568.88px;
                        height: 48px;
                        position: relative;
                        input{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            padding: 8px 20px;
                            border: 1px solid rgb(196, 196, 196);
                            outline: none;
                            border-radius: 6px;
                            font-size: 14px;

                            &:focus-within{
                                border: 1px solid rgb(90, 90, 90);
                            }
                        }

                        i{
                            position: absolute;
                            top: 15px;
                            right: 15px;
                            font-size: 18px;
                            opacity: 0.3;
                            display: none;
                            cursor: pointer;
                        }

                        .input--active{
                            display: inline-block;
                        }
                    }

                    &--change-passvord{
                        padding: 16px 32px;
                        background-color: rgb(33, 33, 33);
                        color: #fff;
                        border-radius: 6px;
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

#your-inbox{
    position: relative;
    top: 161px;
    .your-inbox-container{
        padding: 64px 96px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 64px;
        background-color: rgb(249, 249, 249);
        
        &__text{
            h3{
                margin-bottom: 14px;
                font-size: 30px;
                font-weight: 700;
                line-height: 36px;
                color: rgb(33, 33, 33);
            }
            p{
                font-size: 14px;
                line-height: 28px;
                color: rgb(90, 90, 90);
            }
        }
        form{
            display: flex;
            input{
                padding: 8px 28px;
                width: 407.188px;
                height: 56px;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                color: rgb(29, 30, 31);
                background-color: #fff;
                border: 1px solid rgba(90, 90, 90,0.2);
                outline: none;
                border-radius: 6px;
    
                &:focus-within{
                    border: 1px solid rgb(66, 66, 66);
                }
            }
            button{
                margin-left: 8px;
                padding: 16px 32px;
                background-color: rgb(33, 33, 33);
                border-radius: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
    
                &:hover{
                    opacity: 0.85;
                    transition-timing-function: cubic-bezier(.4,0,.2,1);
                }
                &:hover span{
                    opacity: 1;
                }
                span{
                    font-size: 14px;
                    font-style: normal;
                    line-height: 20px;
                    font-weight: 600;
                    color: #fff;                       
                }
            }
        }
    }
}

footer{
    position: relative;
    top: 161px;
}